.values {
    margin-top: 2rem;
    display: flex;
}

h1 {
    color: blue;
}

h2 {
    color: orangered;
    margin-left: 3rem;
    margin-top: 3rem;
}

.text {
    width: 9rem;
    font-weight: bold;
    margin-left: 3rem;
}

.textfield {
    width: 10rem;
}

.button {
    margin-top: 2rem;
    margin-left: 3rem;
}

body {
    margin-left: 3rem;
}

.select {
    margin-left: 3rem;
}